* {
  margin: 0;
  padding: 0; }

body {
  display: grid;
  justify-content: center;
  align-items: center; }

.calendar {
  display: grid;
  grid-template-columns: [calendar-mon] 100px [calendar-tue] 100px [calendar-wed] 100px [calendar-ths] 100px [calendar-frd] 100px [calendar-std] 100px [calendar-sun] 100px;
  padding-top: 50px;
  grid-gap: 1px; }

.calendar > div {
  display: grid;
  height: 100px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: #eee0;
  font-family: Arial, sans-serif;
  font-size: 30px;
  transition: all .5s  ease-in-out; }
  .calendar > div:hover {
    cursor: pointer;
    background-color: pink;
    margin-top: -20px; }

.calendar-1 .day:nth-child(2):after {
  content: "1"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(3):after {
  content: "2"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(4):after {
  content: "3"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(5):after {
  content: "4"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(6):after {
  content: "5"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(7):after {
  content: "6"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(8):after {
  content: "7"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(9):after {
  content: "8"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(10):after {
  content: "9"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(11):after {
  content: "10"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(12):after {
  content: "11"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(13):after {
  content: "12"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(14):after {
  content: "13"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(15):after {
  content: "14"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(16):after {
  content: "15"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(17):after {
  content: "16"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(18):after {
  content: "17"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(19):after {
  content: "18"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(20):after {
  content: "19"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(21):after {
  content: "20"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(22):after {
  content: "21"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(23):after {
  content: "22"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(24):after {
  content: "23"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(25):after {
  content: "24"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(26):after {
  content: "25"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(27):after {
  content: "26"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(28):after {
  content: "27"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(29):after {
  content: "28"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(30):after {
  content: "29"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }
.calendar-1 .day:nth-child(31):after {
  content: "30"; }
.calendar-1 .day:nth-child(1) {
  grid-area: 1/1/1/1;
  border: none; }

.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(2):after {
  content: "1"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(3):after {
  content: "2"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(4):after {
  content: "3"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(5):after {
  content: "4"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(6):after {
  content: "5"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(7):after {
  content: "6"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(8):after {
  content: "7"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(9):after {
  content: "8"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(10):after {
  content: "9"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(11):after {
  content: "10"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(12):after {
  content: "11"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(13):after {
  content: "12"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(14):after {
  content: "13"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(15):after {
  content: "14"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(16):after {
  content: "15"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(17):after {
  content: "16"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(18):after {
  content: "17"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(19):after {
  content: "18"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(20):after {
  content: "19"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(21):after {
  content: "20"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(22):after {
  content: "21"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(23):after {
  content: "22"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(24):after {
  content: "23"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(25):after {
  content: "24"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(26):after {
  content: "25"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(27):after {
  content: "26"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(28):after {
  content: "27"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(29):after {
  content: "28"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(30):after {
  content: "29"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }
.calendar-2 .day:nth-child(1) {
  cursor: none;
  background-color: transparent;
  margin-top: 0; }
.calendar-2 .day:nth-child(31):after {
  content: "30"; }
.calendar-2 .day:nth-child(1) {
  grid-area: 1/2/1/1;
  border: none; }

.calendar-3 .day:nth-child(2):after {
  content: "1"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(3):after {
  content: "2"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(4):after {
  content: "3"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(5):after {
  content: "4"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(6):after {
  content: "5"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(7):after {
  content: "6"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(8):after {
  content: "7"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(9):after {
  content: "8"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(10):after {
  content: "9"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(11):after {
  content: "10"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(12):after {
  content: "11"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(13):after {
  content: "12"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(14):after {
  content: "13"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(15):after {
  content: "14"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(16):after {
  content: "15"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(17):after {
  content: "16"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(18):after {
  content: "17"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(19):after {
  content: "18"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(20):after {
  content: "19"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(21):after {
  content: "20"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(22):after {
  content: "21"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(23):after {
  content: "22"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(24):after {
  content: "23"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(25):after {
  content: "24"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(26):after {
  content: "25"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(27):after {
  content: "26"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(28):after {
  content: "27"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(29):after {
  content: "28"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(30):after {
  content: "29"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }
.calendar-3 .day:nth-child(31):after {
  content: "30"; }
.calendar-3 .day:nth-child(1) {
  grid-area: 1/3/1/1;
  border: none; }

.calendar-4 .day:nth-child(2):after {
  content: "1"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(3):after {
  content: "2"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(4):after {
  content: "3"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(5):after {
  content: "4"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(6):after {
  content: "5"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(7):after {
  content: "6"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(8):after {
  content: "7"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(9):after {
  content: "8"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(10):after {
  content: "9"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(11):after {
  content: "10"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(12):after {
  content: "11"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(13):after {
  content: "12"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(14):after {
  content: "13"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(15):after {
  content: "14"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(16):after {
  content: "15"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(17):after {
  content: "16"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(18):after {
  content: "17"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(19):after {
  content: "18"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(20):after {
  content: "19"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(21):after {
  content: "20"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(22):after {
  content: "21"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(23):after {
  content: "22"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(24):after {
  content: "23"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(25):after {
  content: "24"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(26):after {
  content: "25"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(27):after {
  content: "26"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(28):after {
  content: "27"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(29):after {
  content: "28"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(30):after {
  content: "29"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }
.calendar-4 .day:nth-child(31):after {
  content: "30"; }
.calendar-4 .day:nth-child(1) {
  grid-area: 1/4/1/1;
  border: none; }

.calendar-5 .day:nth-child(2):after {
  content: "1"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(3):after {
  content: "2"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(4):after {
  content: "3"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(5):after {
  content: "4"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(6):after {
  content: "5"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(7):after {
  content: "6"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(8):after {
  content: "7"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(9):after {
  content: "8"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(10):after {
  content: "9"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(11):after {
  content: "10"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(12):after {
  content: "11"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(13):after {
  content: "12"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(14):after {
  content: "13"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(15):after {
  content: "14"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(16):after {
  content: "15"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(17):after {
  content: "16"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(18):after {
  content: "17"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(19):after {
  content: "18"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(20):after {
  content: "19"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(21):after {
  content: "20"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(22):after {
  content: "21"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(23):after {
  content: "22"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(24):after {
  content: "23"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(25):after {
  content: "24"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(26):after {
  content: "25"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(27):after {
  content: "26"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(28):after {
  content: "27"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(29):after {
  content: "28"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(30):after {
  content: "29"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }
.calendar-5 .day:nth-child(31):after {
  content: "30"; }
.calendar-5 .day:nth-child(1) {
  grid-area: 1/5/1/1;
  border: none; }

.calendar-6 .day:nth-child(2):after {
  content: "1"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(3):after {
  content: "2"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(4):after {
  content: "3"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(5):after {
  content: "4"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(6):after {
  content: "5"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(7):after {
  content: "6"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(8):after {
  content: "7"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(9):after {
  content: "8"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(10):after {
  content: "9"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(11):after {
  content: "10"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(12):after {
  content: "11"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(13):after {
  content: "12"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(14):after {
  content: "13"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(15):after {
  content: "14"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(16):after {
  content: "15"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(17):after {
  content: "16"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(18):after {
  content: "17"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(19):after {
  content: "18"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(20):after {
  content: "19"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(21):after {
  content: "20"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(22):after {
  content: "21"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(23):after {
  content: "22"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(24):after {
  content: "23"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(25):after {
  content: "24"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(26):after {
  content: "25"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(27):after {
  content: "26"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(28):after {
  content: "27"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(29):after {
  content: "28"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(30):after {
  content: "29"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }
.calendar-6 .day:nth-child(31):after {
  content: "30"; }
.calendar-6 .day:nth-child(1) {
  grid-area: 1/6/1/1;
  border: none; }

.calendar-7 .day:nth-child(2):after {
  content: "1"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(3):after {
  content: "2"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(4):after {
  content: "3"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(5):after {
  content: "4"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(6):after {
  content: "5"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(7):after {
  content: "6"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(8):after {
  content: "7"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(9):after {
  content: "8"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(10):after {
  content: "9"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(11):after {
  content: "10"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(12):after {
  content: "11"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(13):after {
  content: "12"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(14):after {
  content: "13"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(15):after {
  content: "14"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(16):after {
  content: "15"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(17):after {
  content: "16"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(18):after {
  content: "17"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(19):after {
  content: "18"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(20):after {
  content: "19"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(21):after {
  content: "20"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(22):after {
  content: "21"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(23):after {
  content: "22"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(24):after {
  content: "23"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(25):after {
  content: "24"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(26):after {
  content: "25"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(27):after {
  content: "26"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(28):after {
  content: "27"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(29):after {
  content: "28"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(30):after {
  content: "29"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }
.calendar-7 .day:nth-child(31):after {
  content: "30"; }
.calendar-7 .day:nth-child(1) {
  grid-area: 1/7/1/1;
  border: none; }

.calendar-6 .day:nth-child(1) {
  background-color: transparent;
  cursor: auto;
  margin: 0; }

/*# sourceMappingURL=style.css.map */
